.aligncenter {
    text-align: center;
}

.alignright {
    text-align: right;
}

img {
    width : 260px;
}
h2 {
    text-align: center;
}
p {
    font-size: 13px;
    font-family: "Monaco", monospace;
  }
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.floatleft {
    float: left;
    margin : 5px;
}
