.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.alignright {
    text-align: right;
}

.floatleft {
    float: left;
    margin : 10px;
}

.content-wrap{
    max-width : 800px;
    width : 85%;
    margin : 0 auto;
    padding : 60 px 0;
}

/*p font + size adjustment ---------*/
p {
    font-size: 13px;
    font-family: "Monaco", monospace;
  }

/* project 1  ----------------- ADD IMAGE */
.banner1 {
    background-image: url(images/bg2.png);
    /*background-color: #ffd699; /*temp... add img*/
    background-repeat: no-repeat;
}

h1{
    color : #cc7a00; 
}
