html {
    scroll-behavior: smooth;
  }
* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: rgb(230, 245, 197);
    padding: 10px;
    flex: 30%;
  }
  
  .flex-item-right {
    background-color: rgb(230, 245, 197);
    padding: 10px;
    flex: 40%;
  }
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }

  .button {
      background-color: rgb(71, 84, 52);
      color: rgb(218, 254, 182);
      padding: 15px 10px;
      text-align: center;
      text-decoration: none;
      font-family: 'Lobster', cursive;
      display: inline-block;
      font-size: 16px;
    }

    .center{
      text-align: center;
    }

    /* The navigation bar */
    .navbar {
      overflow: hidden;
      background-color: rgba(153, 179, 137, 0.705);
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
    }

    /* Links inside the navbar */
    .navbar a {
      float: left;
      display: block;
      color: rgb(250, 249, 220);
      text-align: center;
      padding: 20px 30px;
      text-decoration: none;
    }

    /* Change background on mouse-over */
    .navbar a:hover {
      background: white;
      color: black;
    }

    /* Main content */
    .main {
      margin-top: 30px; /* Add a top margin to avoid content overlay */
    }

    /* make the padding a lil more comfortable on other pages*/
    .padding {
        background-color: rgb(193, 205, 168);
        padding: 20px;
        margin: 10px;
      }

    p{
        font-family: 'Nunito Sans', sans-serif;
    }
    .p2{
        font-family: 'Nunito Sans', sans-serif;
    }

    h1{
        font-family: 'Lobster', cursive;
    }